{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}



{% block body %}


{% if app.user %}

<h1 class="my-5 text-center">Bienvenue {{ app.user.pseudo}}</h1>

{% else %}

<h1 class="my-5">Inscris-toi et crée ta librairie culturelle en un rien de temps!</h1>

{% endif %}

<div class="container table-responsive">
<table class="table mb-5">
    <thead>
      <tr>
        <th scope="col">
           <a href="{{ path('category_cd')}}">CD</a>
        </th>
        <th scope="col">
            <a href="{{ path('category_jeux')}}">Jeux vidéos</a>

        </th>
        <th scope="col">
            <a href="{{ path('category_livre')}}">Livre</a>

        </th>
        <th scope="col">
            <a href="{{ path('category_bluray')}}">Blu-ray</a>

        </th>
        <th scope="col">
            <a href="{{ path('category_dvd')}}">DVD</a>

        </th>
        <th scope="col">
            <a href="{{ path('category_vinyle')}}">Vinyle</a>
        </th>
      </tr>
    </thead>
  </table>
</div>

<div class="container">
    <form>
        <div class="input-group my-5">
            <input type="text"
                       name="q"
                       class="form-control"
                       placeholder="Search..."
            >
            <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>






  {% if dvds  %}
  <h4 class="text-center">Ici, vous avez {{dvds|length}} élément(s) de votre <u><a href="{{ path('collection')}}">collection</a></u></h4>
  <div class="container">
    <section class="articles my-5 text-center">
        <div class="row">
            {% for pagedvd in pagedvds %}
                <div class="col-12 col-lg-6 text-center">
                    <articles>
                        <h3 class="mt-5 text-break">{{pagedvd.title}}</h3>
                        <h4>{{pagedvd.category.title}}</h4>
                        <div class="metadata">{{pagedvd.year}}</div>
                        <div class="content">
                            <img src="{{pagedvd.image}}" width="250px" height="auto" alt="">
                            <div> {{pagedvd.author | raw}} </div>
                            <div>{{pagedvd.reference | raw}}</div>
                            <a href="{{ path('site_show' , {'id':pagedvd.id}) }}" class="btn btn-primary">lire la suite</a>
                        </div>
                    </articles>
                </div>
            {% endfor %}
        </div>
    </section>
</div>

<div class="d-flex justify-content-center">
    <div class="navigation">
        {{ knp_pagination_render(pagedvds)}}
    </div>
</div>
    {% else %}

    
    <h2 class="mt-5 text-center">Vous n'avez pas d'éléments dans cette <u><a href="{{ path('collection')}}">collection</a></u> !</h2>
    <div class="container text-center">
        <img src="https://www.covoiturage-simple.com/images/oups.png" alt="">
    </div>
    <h3 class="text-center mt-5">Ajoutez-en et venez contempler votre belle médiathèque ! :)</h3>



    {% endif %}



    

{% endblock %}