{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}



{% block body %}


{% if app.user %}

<h1 class="my-5 text-center">Bienvenue {{ app.user.pseudo}}</h1>

{% else %}

<h1 class="my-5">Inscris-toi et crée ta librairie culturelle en un rien de temps!</h1>

{% endif %}

<div class="container">
<table class="table">
    <thead>
      <tr>
        <th scope="col">
           <a href="{{ path('category_cd')}}">CD</a>
        </th>
        <th scope="col">
            <a href="{{ path('category_jeux')}}">Jeux vidéos</a>

        </th>
        <th scope="col">
            <a href="{{ path('category_livre')}}">Livre</a>

        </th>
        <th scope="col">
            <a href="{{ path('category_bluray')}}">Blu-ray</a>

        </th>
        <th scope="col">
            <a href="{{ path('category_dvd')}}">DVD</a>

        </th>
        <th scope="col">
            <a href="{{ path('category_vinyle')}}">Vinyle</a>
        </th>
      </tr>
    </thead>
  </table>

  <form>
    <div class="input-group my-5">
        <input type="text"
               name="q"
               class="form-control"
               placeholder="Search..."
        >
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>



  {% if jeux  %}

  <h4 class="text-center">Ici, vous avez {{jeux|length}} élément(s) de votre collection</h1>
    
    <section class="articles my-5 text-center">
        <div class="row">
            {% for pagejeu in pagejeux %}
                <div class="col-12 col-lg-6 col-sm-12">
                    <articles>
                        <h2 class="mt-5">{{pagejeu.title}}</h2>
                        <h4>{{pagejeu.category.title}}</h4>
                        <div class="metadata">{{pagejeu.year}}</div>
                        <div class="content">
                            <img src="{{pagejeu.image}}" width="300px" height="auto" alt="">
                            <div> {{pagejeu.author | raw}} </div>
                            <div>{{pagejeu.reference | raw}}</div>
                            <a href="{{ path('site_show' , {'id':pagejeu.id}) }}" class="btn btn-primary">lire la suite</a>
                        </div>
                    </articles>
                </div>
                {% endfor %}
            </div>
        </section>
           
        <div class="d-flex justify-content-center">
            <div class="navigation">
                {{ knp_pagination_render(pagejeux)}}
            </div>
        </div>
   

    {% else %}

<div class="container text-center">
    <h1 class="">Vous n'avez pas d'éléments dans cette collection !</h1>
    <h3 class="mt-5">Ajoutez-en et venez contempler votre belle médiathèque ! :)</h3>
    <img class="" src="https://www.covoiturage-simple.com/images/oups.png" alt="">
</div>
    {% endif %}
    

{% endblock %}