{% extends 'base.html.twig' %}



{% block body %}

<div class="container text-center">

        
                <h1 class="my-5">Cet objet est dans votre <u><a href="{{ path('collection')}}">collection</a></u> de {{collection.user.pseudo}}</h1>
                <h2 class="mt-5 text-break"> {{collection.title}}</h2>
                <div class="metadata">{{collection.year | raw}}</div>
                <div class="content">
                        <img src="{{collection.image}}" width="500px" height="auto" class="img-thumbnail"  alt="">
                        <p>{{collection.author | raw}}</p>
                        <p>{{collection.edition | raw}}</p>
                        <hr>
                        <p>{{collection.note | raw}} / 20</p>
                </div>

</div>

<div class="container text-center my-5">
        {% if app.user and app.user == collection.user %}
                <a class="btn btn-primary" href="{{ path('collection_edit', { 'id': collection.id})}}" role="button">Editer</a>
                <a class="btn btn-danger ml-3" href="{{ path('collection_delete', { 'id': collection.id})}}" role="button">Supprimer</a>
        {% endif %}
</div>

{% endblock %}


