{% extends 'base.html.twig' %}

{% block body %}



{% for liste in listes|slice(0, 1) %}
    <div class="container text-center my-5">
        <h1>Vous êtes dans la collection de {{liste.user.pseudo}}</h1>
        {# <h3>Suis-le et accède rapidement à sa collection !</h3> #}

        {% if level|length >= 1 and level|length <= 50 %}

    <div class="text-center my-5">
    <h2>Collectionneur en herbe ({{level|length}})</h2>
    <img style="width: 32px;" src="{{ asset('images/star.png')}}" alt="">
    </div>

        {% elseif level|length > 50 and level|length <= 250 %}

            <div class="text-center my-5">
            <h2>Collectionneur en devenir ({{level|length}})</h2>
            <img  style="width: 32px;" src="{{ asset('images/star.png')}}" alt=""><img style="width: 32px;" src="{{ asset('images/star.png')}}" alt="">
            </div>

            {% elseif level|length > 250 and level|length <= 500 %}

                <div class="text-center my-5">
                <h2 class="text-center">Collectionneur avéré ({{level|length}})</h2>
                <img  style="width: 32px;" src="{{ asset('images/star.png')}}" alt=""><img style="width: 32px;" src="{{ asset('images/star.png')}}" alt=""><img  style="width: 32px;" src="{{ asset('images/star.png')}}" alt="">
                </div>

                {% elseif level|length > 500 and level|length <= 1000 %}

                    <div class="text-center my-5">
                    <h2 class="text-center">Grand collectionneur ({{level|length}})</h2>
                    <img style="width: 32px;" src="{{ asset('images/star.png')}}" alt=""><img style="width: 32px;" src="{{ asset('images/star.png')}}" alt=""><img style="width: 32px;" src="{{ asset('images/star.png')}}" alt=""><img style="width: 32px;" src="{{ asset('images/star.png')}}" alt="">
                    </div>

                        {% else %}

                            <div class="text-center my-5">
                            <h2 class="text-center">Maître collectionneur ({{level|length}})</h2>
                            <img style="width: 32px;" src="{{ asset('images/star.png')}}" alt=""><img style="width: 32px;" src="{{ asset('images/star.png')}}" alt=""><img style="width: 32px;" src="{{ asset('images/star.png')}}" alt=""><img style="width: 32px;" src="{{ asset('images/star.png')}}" alt=""><img style="width: 32px;" src="{{ asset('images/star.png')}}" alt="">
                            </div>

{% endif %}


        
<div class="container">
    {{ form_start(formCollection) }}

        {% if not isFollowed %}
        <button  type="submit" name="add" class="btn btn-info mt-3 mb-5">
            Suivre
            </button>
        {% else %}
        <button  type="submit" name="delete" class="btn btn-danger mt-3 mb-5">
            Ne plus suivre
        </button>
        {% endif %}
    {{ form_end(formCollection) }}

    <a href="{{ path('their_wishes' , {'id':liste.user.id}) }}" class="btn btn-primary">Sa wishlist</a>
    
    </div>

        <form>
            <div class="input-group my-5">
                <input type="text"
                       name="u"
                       class="form-control"
                       placeholder="Search..."
                >
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endfor %}
        

    {% if listes  %}


<div class="container">
    <section class="articles my-5">
        <div class="row">
            {% for pageliste in pagelistes|slice(0,18) %}
                <div class="col-12 col-lg-6 text-center">
                    <articles>
                        <h2 class="mt-5 text-break">{{pageliste.title}}</h2>
                        <h4>{{pageliste.category.title}}</h4>
                        <div class="metadata">{{pageliste.year}}</div>
                        <div class="content">
                            <img src="{{pageliste.image}}" width="300px" height="auto" alt="">
                            <div> {{pageliste.author | raw}} </div>
                            <div>{{pageliste.reference | raw}}</div>
                        </div>
                    </articles>
                </div>
            {% endfor %}
        </div>
    </section>
    </div>

    <div class="d-flex justify-content-center">
        <div class="navigation">
            {{ knp_pagination_render(pagelistes)}}
        </div>
    </div>

{% else %}

<h1 class="text-center mt-5">Cet utilisateur n'a pas encore d'éléments dans sa collection !</h1>
<h3 class="text-center mt-5">Revenez bientôt pour contempler ses collections</h3>


{% endif %}


{% endblock %}
